#content img[alt="Acfun"],
#content img[alt="imgur"]{
    display: inline;
    padding-left: 5px;
}

a[href^="https://"][title="Acfun"],
a[href^="http://"][title="Acfun"],
a[href^="https://"][title="imgur"],
a[href^="http://"][title="imgur"]{
    background: none;
    padding-right: 0px;
}

